<?xml version="1.0"?>
<config xmlns:xsi="//www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
   <router id="standard">
       <route id="knockout" frontName="knockout">
           <module name="AHT_KnockoutJs" />
       </route>
   </router>
</config>